<h1>Welcome!</h1>

<h3><a href="/spots/new">Create a new spot</a></h3>

<h2>Spots:</h2>
<% @spots.each do |spot| %>
  Date: <%= spot.date %> <br>
  Name: <%= spot.name %> <br>
  <a href="/spots/<%=spot.id%>">View</a><br><br>


  <% end %>
